{% extends "base.html" %}
{% block content_guest %}

    <div class="card shadow-sm">
        <div class="card-body p-4">
            <h4 class="card-title text-center mb-4">系统登录</h4>

            {% if form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    您输入的用户名或密码不正确，请重试。
                </div>
            {% endif %}

            <form method="post">
                {% csrf_token %}

                <div class="mb-3">
                    <label for="{{ form.username.id_for_label }}" class="form-label">用户名</label>
                    <input type="text" name="username" class="form-control" required id="{{ form.username.id_for_label }}">
                    {% for error in form.username.errors %}
                        <div class="invalid-feedback d-block">{{ error }}</div>
                    {% endfor %}
                </div>

                <div class="mb-3">
                    <label for="{{ form.password.id_for_label }}" class="form-label">密码</label>
                    <input type="password" name="password" class="form-control" required id="{{ form.password.id_for_label }}">
                    {% for error in form.password.errors %}
                        <div class="invalid-feedback d-block">{{ error }}</div>
                    {% endfor %}
                </div>

                <div class="d-grid mt-4">
                    <button type="submit" class="btn btn-primary btn-lg">登 录</button>
                </div>
            </form>
        </div>
    </div>

{% endblock content_guest %}